//FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$main-font: "Montserrat", sans-serif;

//FONT-SIZE
$title: 28px;
$subtitle: 20px;
$btn-size: 16px;
$text-size: 14px;
$error-size: 12px;

//COLORS
$black: #333333;
$grey-text: #75777a;
$light-grey: #e0e5e9;
$blue: #065bea;
$grey-btn: #c6d0e0;
$blue-hover: #0a4ab6;
$blue-btn-hover: #0451d2;
$white: #ffffff;
$red: #ff4b26;
$green: #6fcf97;
